image:
  repository: arielramati/neon-proj
  tag: "latest"
  pullPolicy: IfNotPresent

replicaCount: 1

service:
  type: ClusterIP
  port: 80
  targetPort: 8080

containerPort: 8080

resources:
  requests: 
    cpu: "100m"
    memory: "128Mi"
  limits: 
    cpu: "500m"
    memory: "256Mi"

hpa: 
  enabled: false
  minReplicas: 1
  maxReplicas: 3
  targetCPUUtilizationPercentage: 80

livenessProbe:
  initialDelaySeconds: 5
  periodSeconds: 10
  urlPath: /health
readinessProbe:
  initialDelaySeconds: 3
  periodSeconds: 5
  urlPath: /ready

tests:
  image:
    repository: arielramati/neon-proj
    tag: "latest"