name: CI/CD Build and Deploy

on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: install requirements
        run: |
          python -m pip install --upgrade pip
          pip install -r ./requirements.txt
          
      - name: Run tests
        run: |
          python -m pytest tests

      - name: Log in to GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Tag image with SHA
        run: |
          IMAGE=neon-proj
          SHA_TAG=${{ github.sha }}
          docker tag neon-proj:latest ${{ secrets.DOCKERHUB_USERNAME }}/$IMAGE:$SHA_TAG
          docker tag neon-proj:latest ${{ secrets.DOCKERHUB_USERNAME }}/$IMAGE:latest

      - name: Push image to Docker Hub
        run: |
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/neon-proj:${{ github.sha }}
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/neon-proj:latest

      
